<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>上传</title>
    <script src="__CDN__/assets/siemens/js/flexible.js"></script>
    <link rel="stylesheet" type="text/css" href="__CDN__/assets/siemens/css/reset.css">
    <link rel="stylesheet" type="text/css" href="__CDN__/assets/siemens/css/upload.css">
</head>
<body>
    <div class="wrapper">
        <div class="wrapper_header">
            <div class="header_container flex_between">
                <a class="back"></a>
                <h1 id="title" class="flex_son">西门子</h1>
                <a class="open"></a>
            </div>
            <div class="subtitle_container flex_between">
                <h2 id="subtitle flex_son">西门子密集型母线</h2>
                <div class="icon3"></div>
            </div>
        </div>
        <div class="wrapper_content">
            <div class="content">
                <p class="first_p">母线槽系统主要作为变压器器配电柜之间的输电设备，以及配电柜与负载之间的配电设备而被广泛使用</p>
                <img src="__CDN__/assets/siemens/img/advert/product_1.jpg"/>
                <p class="second_p">母线槽系统主要作为变压器器配电柜之间的输电设备，以及配电柜与负载之间的配电设备而被广泛使用</p>
                <img src="__CDN__/assets/siemens/img/advert/product_2.jpg"/>
            </div>
            <div class="input">
                <textarea class="input_block" placeholder="请输入内容"></textarea>
                <div class="icon fr"></div>
            </div>  
        </div>
        <div class="button_container">
            <button class="button">发布</button>
        </div>
    </div>
</body>
</html>